/* css para tablets */
@media screen and (max-width:500px){
	body{
        background: #F3F5FC;
        font-family: 'Inter';
    }
    nav{
        margin: 0 auto 0 auto;
        height: 840px;
        width: 100vw;
        font-family: 'Inter';
    }
    
    .entada{
        display: block;
        width: 100%;
    }
 
    .logo{
        position: absolute;
        left: 4.17%;
        top: 2.57%;
        height: 5.14%;
    }
   
    #mensaje{
        position: absolute;
        left: 4.17%;
        top: 14.58%;
        width: 91.47%;
        height: 32%;
        font-weight: 400;
        font-size: 20px;
        line-height: 150%;
        font-family: 'Inter';
        color: #0A3871;
        background: transparent;
        resize: none;
        border-color: transparent;
    }
    
    #mensaje::-webkit-scrollbar {
        display: none;
    }
    
    #mensaje:focus{
        outline: none;
    }
     
    .alerta{
        position: absolute;
        left: 4.17%;
        top: 50%;
        width: 500px;
        font-size: 12px;
        line-height: 150%;
        color: #495057;
        opacity: 0.8;
    }
    
    .simbolo{
        position: relative;
        height: 10%;
        top: 2%;
    }
    
    .botones{
        position: absolute;
        display: block;
        left: 4.17%;
        top: 53%;
        width: 91.47%;
        height: 16.9%;
    }
     
    #encriptar{  
        width: 100%;
        height: 42.4%;
        font-size: 16px;
        border-radius: 24px;
        background-color: #0A3871;
        border: none;
        color: #FFFFFF;
        transition: all 0.5s;
        cursor: pointer;
    }
    
    #encriptar span{
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }
    
    #encriptar span:after{
        font-family: 'Noto Emoji', sans-serif;
        font-size: 25px;
        content: '\01F512';
        position: absolute;
        opacity: 0;
        top: -5px;
        right: -40px;  
        transition: 0.5s;
    }
    
    #encriptar:hover span{
        padding-right: 35px;  
    }
    
    #encriptar:hover span:after{
        opacity: 1;
        right: 0;
    }
    
    #encriptar:active{
        transition: 1s;
        scale: 97%;
    }
    
    #desencriptar{
        margin: 5% 0 0;
        width: 100%;
        height: 42.4%;
        font-size: 16px;
        background: #D8DFE8;
        border: 1px solid #0A3871;
        border-radius: 24px;
        color: #0A3871;
    }
    
    #desencriptar span{
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }
    
    #desencriptar span:after{
        font-family: 'Noto Emoji', sans-serif;
        font-size: 25px;
        content: '\01F513';
        position: absolute;
        opacity: 0;
        top: -5px;
        right: -40px;
        transition: 0.5s;
    }
    
    #desencriptar:hover span{
        padding-right: 35px;
    }
    
    #desencriptar:hover span:after{
        opacity: 1;
        right: 0;
    }
    
    #desencriptar:active{
        transition: 1s;
        scale: 97%;
    }

    .salida{
        position: absolute;
        left: 6.4%;
        top: 75.8%;
        width: 87.2%;
        height: 22%;
        background: #FFFFFF;
        box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
        border-radius: 32px;
    }
    
    .caracter{
        display: none;
    }
    
    .instrucciones{
        padding: 0%;
        top: 17.2%;
        left: 9.8%;
        width: 80.4%;
        height: 65.6%;
        margin: 0;
        text-align: center;
    }
    
    .instrucciones-uno{ 
        font-size: 24px;
    }
    
    .instrucciones-dos{
        font-size: 16px;
    }
    
    #resultado{
        position: absolute;
        padding: 0%;
        top: 32px;
        left: 9.8%;
        width: 80.4%;
        height: 80%;
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        font-family: "Inter";
        color: #495057;
        background: transparent;
        resize: none;
        border-color: transparent;
    }
    
    #resultado::-webkit-scrollbar {
        display: none;
    }
    
    #resultado:focus{
        outline: none;
    }
    
    #copiar{
        position: absolute;
        padding: 0%;
        top: 84%;
        left: 2%;
        width: 78%;
        height: 8%;
        border: 1px solid #0A3871;
        border-radius: 24px;
        font-size: 16px;
        color: #0A3871;
    }
    
    #copiar span{
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }
    
    #copiar span:after{
        font-family: 'Noto Emoji', sans-serif;
        font-size: 25px;
        content: '\01F4CB';
        position: absolute;
        opacity: 0;
        top: -5px;
        right: -40px;
        transition: 0.5s;
    }
    
    #copiar:hover span{
        padding-right: 35px;
    }
    
    #copiar:hover span:after{
        opacity: 1;
        right: 0;
    }
    
    #copiar:active{
        transition: 1s;
        scale: 97%;
    }
}